###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/no
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> PHP Storm Index Files ###
/.idea/
###< PHP Storm Index Files ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

migrations
mysql
.env
